input::-webkit-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}

/* overwrite input styles from bootstrap */
.dwidget input, .dwidget input:focus{
  border: none;
  padding:0;
  margin:0;
  height:auto;
  outline:0; /* FOR IE9*/

  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}

.dwidget .dijitCloseButtonContainer{
  float:right;
}

.dwidget .dijitCloseButtonInner{
	text-indent: -2em !important;
	direction: ltr !important;
	text-align: left !important;
	height: auto !important;
	#text-indent: 0 !important;
	#letter-spacing: -5em !important;
	#text-align: right !important;


  background: transparent url("img/icons.png") no-repeat -67px center;
  width: 14px;
  cursor:pointer;
}

.dwidget .dijitTextBox .dijitArrowButtonInner{
  text-indent: -1em !important;

  background: transparent url("img/icons.png") no-repeat -23px center;
  width:14px;
  margin:0px;
}

.dwidget .dijitHasDropDownOpen .dijitArrowButtonInner{
  /* the dijitHasDropDownOpen class is set by dijit
     when the dropdown is open*/
  background: transparent url("img/icons.png") no-repeat -2px center;
}

.dwidget .dijitButtonNode, .dwidget .dijitTextBox .dijitButtonNode{
  /* remove styles from tundra*/
  border: none;
  padding:0;
  background:none;
}

.dwidget .dijitValidationIcon{
  /* class set by dijit when validation fails*/
  background: transparent url("img/icons.png") no-repeat -88px center;
  width:14px;
}

.dwidget .dijitTooltipContainer{
  background-image:none;
  border: 1px solid rgba(82, 168, 236, 0.8);
  background-color:white;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
     -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
          box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.dwidget .dijitTextBox{
  background:none;

  border: 1px solid #DDD;
  padding: 4px;
  width:100px;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.dwidget .queryTextBox{
  background: #FFF url("img/searchIcon.png") no-repeat 7px center;
  padding: 4px 10px 4px 25px;
}

.dwidget .roundTextBox{
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

.dwidget .dijitTextBox.expandableMinimal{
  width:0px;
}

.dwidget .dijitTextBox.expandableMinimal .dijitCloseButton{
  display:none;
}

.dwidget .dijitTextBoxFocused.expandableMinimal{
  width:200px;
}

.dwidget .dijitTextBoxFocused.expandableMinimal .dijitCloseButton{
  display:inherit;
}


.dwidget .dijitTextBox.expandable{
  width:50px;
}

.dwidget .dijitTextBoxFocused.expandable{
  width:200px;
}

.dwidget .dijitTextBoxFocused {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;

    /* outline: thin dotted \9; */
    /* looks like shit in IE9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.dwidget .dijitPopup{
}

.dwidget .dijitMenu, .dwidget .dijitMenuBar{
  border:1px solid #6dcff6;
  padding:2px;
  background-color:#FFF;
  z-index:1050;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

}

.dwidget .dijitMenuItemHover, .tundra .dijitMenuItemSelected {
  background-color: #6dcff6;
  color: white;
}

.dwidget .dijitButtonNodeHover,
.dwidget .dijitToggleButtonHover .dijitButtonNode,
.dwidget .dijitDropDownButtonHover .dijitButtonNode,
.dwidget .dijitComboButton .dijitButtonContentsHover,
.dwidget .dijitComboButton .dijitDownArrowButtonHover {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	border-color: #a5beda;
	border-bottom-color:#5c7590;
	color:red;
	background:none;
    cursor:pointer;
}

.dwidget .dijitComboButton, .dwidget .dijitArrowButton, .dwidget .dijitArrowDownButton{
  color: #08C;
}

